<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151465332652-rjign7jtl627os7rllkm8tuerrodd8ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151465332652-rjign7jtl627os7rllkm8tuerrodd8ss</string>
	<key>API_KEY</key>
	<string>AIzaSyBMXNCgVx3HybQ5bWlgyu1O_1rpXsDgp-o</string>
	<key>GCM_SENDER_ID</key>
	<string>151465332652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectPulse</string>
	<key>PROJECT_ID</key>
	<string>projectpulse-ecfb0</string>
	<key>STORAGE_BUCKET</key>
	<string>projectpulse-ecfb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151465332652:ios:516baeb04dfb04bd2eb409</string>
</dict>
</plist>